<header class="topbar">

  <!-- 左側 Logo 區 -->
  <div class="logo-area" routerLink="/home-page">
  <img src="images/logo.png" class="logo-img" alt="Logo">
</div>

  <nav class="top-nav">
    <button routerLink="/food">新增食材</button>
    <button routerLink="/medicine">新增藥品</button>
    <button routerLink="/warranty">新增保固</button>
    <button routerLink="/subscription">新增訂閱</button>
    <button routerLink="/shopping-list">購物清單</button>
    <button routerLink="/calendar">家庭行事曆</button>
    <button routerLink="/accounting">記帳</button>
    <button routerLink="/profile">個人資料</button>
  </nav>

  <div class="top-actions">
    <button class="icon-btn">🔔</button>
    <!-- 右上角使用者頭像 -->
  <div class="user-avatar">

    <!-- 有頭像圖片時顯示圖片 -->
    <img *ngIf="avatarUrl; else defaultAvatar" [src]="avatarUrl" alt="使用者頭像">

    <!-- 沒有頭像圖片時顯示 J -->
    <ng-template #defaultAvatar>
      J
    </ng-template>

  </div>
  </div>

</header>
