<div class="layout">


  <!-- Main -->
  <main class="main">

    <app-topbar></app-topbar>

    <div class="group-toolbar">
  <div class="group-toolbar-title">
    <h2>我的群組</h2>
    <p>管理家庭群組、成員與邀請</p>
  </div>

  <div class="search-box">
    <div class="search-left">
      <input type="text" placeholder="搜尋群組..." [(ngModel)]="keyword">

      <button class="search-btn" (click)="searchGroups()">
        🔍
      </button>
    </div>

    <div class="search-actions">
      <button class="add-btn" (click)="openCreateDialog()">＋</button>

      <button class="join-btn" (click)="joinGroupDialog()">
        <mat-icon>group_add</mat-icon>
      </button>
    </div>
  </div>
</div>

    <!-- Group Cards -->
    <div class="card-list">

      <!-- 🔥 loading -->
      <div class="loading-state" *ngIf="isLoading">
        ⏳ 載入中...
      </div>

      <!-- 🔥 empty -->
      <div class="loading-state" *ngIf="!isLoading && pagedGroups.length === 0">
        📭 沒有群組資料
      </div>

      <ng-container *ngIf="!isLoading">

        <div class="group-card" *ngFor="let group of pagedGroups">

          <!-- 左 -->
          <div class="left">

            <img class="avatar"
                [src]="group.avatar || 'assets/default-avatar.png'">

            <div class="info">
              <div class="name">
                {{ truncateName(group.groupName) }}
              </div>

              <div class="gid">
                GID: {{ group.groupId }}, 由{{group.creater}}建立
              </div>
            </div>

          </div>

          <!-- 右 -->
          <div class="right">

            <!-- <button class="btn chat">群組清單</button> -->

            <button class="btn member"
              (click)="openMemberDialog(group, user_id)">
              成員
            </button>

            <button class="btn edit"
              (click)="openUpdateDialog(group, user_id)">
              修改
            </button>

            <button class="btn danger"
              (click)="deleteGroup(group.groupId)">
              解散
            </button>

          </div>

        </div>

      </ng-container>

    </div>

    <!-- Pagination -->
    <div class="pagination">

      <button (click)="prevPage()" [disabled]="currentPage === 1">‹</button>

      <span>{{ currentPage }} / {{ totalPages }}</span>

      <button (click)="nextPage()" [disabled]="currentPage === totalPages">›</button>

    </div>

  </main>

</div>
